
<!-- {{Records Display Page HTML}} -->
<div>
    <br>
    <p>Welcome To Student Details </p>
    <br>
    <table>
        <tr>
            <th>StudentId</th>
            <th>StudentFirstName</th>
            <th>StudentLastName</th>
            <th>StudentAddress</th>
            <th>StudentCity</th>
            <th>StudentState</th>
            <th>StudentZip</th>
            <th>StudentTel</th>
            <th>StudentEmail</th>
            <th>StudentDate</th>
            <th>StudentUrl</th>
            <th>StudentGradmonth</th>
            <th>StudentGradyear</th>
            <th>StudentCheckbox</th>
            <th>StudentAwareness</th>
            <th>StudentLikeliness</th>
            <th>StudentData</th>
        </tr>
        <tr>
            <td>{{studentDetails.stdid}}</td>
            <td>{{studentDetails.stdname}}</td>
            <td>{{studentDetails.stdlastname}}</td>
            <td>{{studentDetails.stdadd}}</td>
            <td>{{studentDetails.stdcity}}</td>
            <td>{{studentDetails.stdstate}}</td>
            <td>{{studentDetails.stdzip}}</td>
            <td>{{studentDetails.stdtel}}</td>
            <td>{{studentDetails.stdemail}}</td>
            <td>{{studentDetails.stddate}}</td>
            <td>{{studentDetails.stdurl}}</td>
            <td>{{studentDetails.stdmonth}}</td>
            <td>{{studentDetails.stdyear}}</td>
            <td>{{studentDetails.stdcheckbox}}</td>
            <td>{{studentDetails.stdradio}}</td>
            <td>{{studentDetails.stdlike}}</td>
            <td>{{studentDetails.stddata}}</td>
        </tr>
    </table>
</div>
